
/*.main-hero {background: linear-gradient(-60deg, #0e85c4,#4baad3, #4baad3, #ecf9ff);color: #fff;}*/
.page {
    padding-top: 30px;
}

ul.list-inline li { vertical-align: top; }
.no-padding-top { padding-top: 0px; }
/*.no-padding-top-bottom {padding-top: 0px; padding-bottom: 0px;}*/
.color-white { color: #fff; }
.color-6 {
    background: #f5f5f5;
    /*color: #707070;*/
}
.customer-logos {
    padding: 0 0 10px 0;
    text-align: center;
}
.customer-logos h5 {
    letter-spacing: 2px;
    font-weight: 400;
    text-transform: uppercase;
}
.customer-div { padding: 10px 0 10px 30px; }
.customer-div table td { padding: 10px;}

footer h5 { text-transform: uppercase; }
footer ul {
    padding: 16px 0;
}
footer .col li {
    font-size: 13px;
    line-height: 18px;
}
footer li {
    margin-bottom: 8px;
    line-height: 18px;
}

footer a {
    color: #59afe1;
    text-decoration: none;
}

#featured-story {
    background: url(/img/site/danawa-back.png) scroll no-repeat center;
    background-size: 100% 100%;
    text-shadow: 0 1px 3px rgba(0,0,0,.57);
    color: #fff;
}
#featured-story h3 {
    color: #fff;
    font-size: 25px;
    line-height: 36px;
    margin-top: 20px;
    font-weight: bolder;
}
#featured-story .customer-more p a { font-size: 13px;}
#featured-story .customer-more p a, #featured-story h5 { color :#fff; }
#featured-story .content { margin: 30px 0px 30px 50px; }

#news span.date {
    color: #888;
    font-size: 15px;
    font-style: italic;
    margin-left: 10px;
}
#news h4 {margin-bottom: 4px;}
#news p {margin-left: 15px;}
#news h4 i {color:#888;}

a.a-normal { color: inherit}

#clients2 img {
    width: 140px;
}

.logo-set {text-align: center; padding-left: 0; padding-right: 0;}
.logo-set table { margin: 0px auto; }
.logo-set table td { padding: 10px 25px; }

.sub-content-headline {
    font-size: 22px;
    text-align: left;
    padding-left: 40px;
}

.menu-affix.affix-bottom {
    position: absolute;  /* Start scrolling again. */
    top: auto; /* Override the top position above. */
}

.simple-box {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 3px;
    z-index:1000;
}

.affix-top {position: fixed;}

.document-list li {
    display: list-item;

}
ul.document-list {
    list-style-type: disc;
    padding-left: 20px;
}
.document-list-box {
    padding-right: 30px;
}



ul.side-menu {  line-height: 180%;  font-size: 16px;}
ul.side-info {  line-height: 150%;  font-size: 16px; padding-left: 20px}
ul.side-info li {color: #3083a7}
.side-info-box { margin-top: 10px; background-color: #ecf9ff;}

.color-3 .btn-light, .color-4 .btn-light {border: 1px solid #3a9ac4; color: #3a9ac4; }
.side-info .info-header {font-weight: bold; line-height: 30px; }
.breadcrumb {font-size: 15px;}

.product-feature ul {padding-left: 0;}
.product-feature-icons img {float: left;  margin-right: 1.1em;}
.product-feature-icons:after {content:""; display:block;clear:both;}

.markdown-body {margin-top: 20px; }
.product-more {padding-top: 20px;}
.product-more ul {text-align: center; }

.features h3 {
    font-size: 29px;
}

.document-box {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 30px;
    word-wrap: break-word;
}
.document-side-box {padding: 10px 10px 20px 0px;}

.markdown-body code {
    white-space: pre-wrap; /* CSS3*/
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}
.icon-size-48 {font-size: 48px; margin-right: 10px;}
.notice_doc {display: none;}





