RewriteEngine On
RewriteCond %{HTTPS} off
# First rewrite to HTTPS:
# Don't put www. here. If it is already there it will be included, if not
# the subsequent rule will catch it.
RewriteRule .* https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
# Now, rewrite any request to the wrong domain to use www.
RewriteCond %{HTTP_HOST} !^www\.
RewriteRule .* https://www.%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
# Root context
RewriteRule ^$ /index.html [L]
# Clean URL
RewriteRule ^([^/.]*)$ /$1.html [L]
RewriteRule ^document/([^/]*)/([^/]*)$ /document.html?c=$1&d=$2 [L]
RewriteRule ^products/$ /products.html [L]
RewriteRule ^products/([^/.]+)$ /products/$1.html [L]